<p align="center" class="brandFont">  Stories !!! </p>
{{#if hasStories }}
    {{#each stories}}
        <div class="well">
            <h1>{{this.title}}</h1>
            <h4>Created by <code>{{this.author}}</code> on <code> {{this.created_at}} </code></h4><br>
            Summary: <p>{{this.summary}}</p> 
           <a href='/stories/{{this.slug}}'> <b>Full story</b></a>
        </div>
    {{/each}}
{{else}}
    <h2>There are no stories to show. You can post your own story if you wish.</h2>
{{/if}}

